.bars {
    fill: rgb(8, 175, 175);
}

.bars:hover{
    fill: teal;
}

svg {
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}