@import "./styles/reset.css";

.bars {
    fill: rgb(8, 175, 175);
}

.bars:hover{
    fill: teal;
}

svg {
    border: solid #f7f4f4 1px;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

body {
    // height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    // background: url("/assets/bg1.jpg");
    background-size: 100%;
}

header {
    font-size: 70px;
    margin: 10px;
}

.graph-view {
    background-color: rgb(144, 198, 248);
    // border: 1px black solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px, 5px;
    width: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    width: 70%;
    padding: 15px 0 15px 0;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}